# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/
temp_unzip/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
android/app/build/
android/local.properties

# IDEs and Editors
.idea/
*.iml
.vscode/
*.sublime-project
*.sublime-workspace

# OS Files
.DS_Store
Thumbs.db
Desktop.ini
